agents/hon-lam/Pipeline Automation/n8n-workflows/Intelligent Automation — Delivery Layer.json
{
  "name": "Intelligent Automation — Delivery Layer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4688,
        272
      ],
      "id": "b8848186-a06a-4f7b-a8a5-bdfbe9940529",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\n\nreturn $input.all().map(item => {\n  const buyingGroup = item.json.buyingGroup || [];\n\n  // Process each member in the buying group\n  const processedGroup = buyingGroup.map(member => {\n    const signals = member.signals || [];\n    const negativeSignals = member.negativeSignals || [];\n\n    // Weighted positive signals per member\n    const weighted = signals.map(s => {\n      const daysDiff = Math.floor((today - new Date(s.date)) / (1000*60*60*24));\n      let weight;\n      if (daysDiff <= 7) weight = \"HIGH\";\n      else if (daysDiff <= 30) weight = \"MEDIUM\";\n      else weight = \"LOW\";\n      return `${s.type} (${daysDiff} days ago, recency: ${weight})`;\n    });\n\n    // Parsed negative signals per member\n    const parsedNegative = negativeSignals.map(n => {\n      const daysDiff = Math.floor((today - new Date(n.date)) / (1000*60*60*24));\n      return `${n.type}: ${n.description} (${daysDiff} days ago)`;\n    });\n\n    return {\n      contactName: member.contactName,\n      jobTitle: member.jobTitle,\n      weightedSignals: weighted.join(', ') || 'No signals',\n      parsedNegativeSignals: parsedNegative.join(' | ') || 'None',\n      hasNegativeSignals: negativeSignals.length > 0,\n      engaged: signals.length > 0\n    };\n  });\n\n  // Buying group coverage calculation\n  const engagedCount = processedGroup.filter(m => m.engaged).length;\n  const totalCount = processedGroup.length;\n  const coveragePct = totalCount > 0 ? Math.round((engagedCount / totalCount) * 100) : 0;\n  const coverageLabel = coveragePct >= 66 ? \"BROAD\" : coveragePct >= 33 ? \"PARTIAL\" : \"NARROW\";\n  const engagedRoles = processedGroup.filter(m => m.engaged).map(m => `${m.contactName} (${m.jobTitle})`).join(', ');\n\n  // Aggregate all negative signals across buying group\n  const allNegativeSignals = processedGroup\n    .filter(m => m.hasNegativeSignals)\n    .map(m => `[${m.contactName}] ${m.parsedNegativeSignals}`)\n    .join(' | ');\n\n  const hasAnyNegativeSignals = processedGroup.some(m => m.hasNegativeSignals);\n\n  // Summary of all weighted signals across buying group\n  const allWeightedSignals = processedGroup\n    .filter(m => m.engaged)\n    .map(m => `[${m.contactName} - ${m.jobTitle}] ${m.weightedSignals}`)\n    .join(' | ');\n\n  return {\n    json: {\n      ...item.json,\n      buyingGroupProcessed: processedGroup,\n      allWeightedSignals,\n      allNegativeSignals: allNegativeSignals || 'None',\n      hasAnyNegativeSignals,\n      buyingGroupCoverage: coveragePct,\n      coverageLabel,\n      engagedRoles,\n      engagedCount,\n      totalCount\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3616,
        448
      ],
      "id": "b7fdbd65-0f81-43a9-88e3-6e311efe46ae",
      "name": "Parse Input Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=pipeline_runs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $('Loop Over Items').first().json.company }}",
            "trigger_type": "={{ $('Loop Over Items').first().json.triggerEvent.eventType }}",
            "is_actionable": "={{ $('Loop Over Items').first().json.triggerEvent.isActionable }}",
            "coverage_label": "={{ $('Loop Over Items').first().json.coverageLabel }}",
            "engaged_count": "={{ $('Loop Over Items').first().json.engagedCount }}",
            "total_count": "={{ $('Loop Over Items').first().json.totalCount }}",
            "when_urgency": "={{ $('Loop Over Items').first().json.when_urgency }}",
            "when_stage": "={{ $('Loop Over Items').first().json.when_stage }}",
            "brief_s3_url": "={{ $('Edit Fields1').first().json.brief_s3_url }}",
            "brief_generated": true,
            "human_approved": false,
            "source": "={{ $('Loop Over Items').first().json._source }}",
            "raw_payload": "={{ JSON.stringify($('Loop Over Items').first().json._raw || {}) }}",
            "industry": "={{ $('Loop Over Items').first().json.industry }}",
            "theme": "={{ $('Loop Over Items').first().json.theme }}",
            "trigger_notes": "={{ $('Loop Over Items').first().json.trigger_notes }}",
            "enrichment_needed": "={{ $('Loop Over Items').first().json.enrichmentNeeded }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_at",
              "displayName": "run_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "trigger_type",
              "displayName": "trigger_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_actionable",
              "displayName": "is_actionable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "coverage_label",
              "displayName": "coverage_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engaged_count",
              "displayName": "engaged_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_count",
              "displayName": "total_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_score",
              "displayName": "gate1_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_threshold",
              "displayName": "gate1_threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_confidence",
              "displayName": "gate1_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_rationale",
              "displayName": "gate1_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_vetoed",
              "displayName": "gate1_vetoed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_veto_reason",
              "displayName": "gate1_veto_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate1_result",
              "displayName": "gate1_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gate2_result",
              "displayName": "gate2_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brief_generated",
              "displayName": "brief_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brief_s3_url",
              "displayName": "brief_s3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_approved",
              "displayName": "human_approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "when_urgency",
              "displayName": "when_urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "when_stage",
              "displayName": "when_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cap_archetype",
              "displayName": "cap_archetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cap_confidence",
              "displayName": "cap_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2208,
        448
      ],
      "id": "903e1de9-f0c9-4f03-9230-f3cc6cb60fa9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "eR1uo2QGR2ZzwysA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "dp-pipeline-briefs-801945369051-ap-southeast-1-an",
        "fileName": "=briefs/{{ $('Loop Over Items').first().json.company }}-{{ $now.format('yyyy-MM-dd') }}.html",
        "binaryData": false,
        "fileContent": "={{ $json.htmlBrief }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -2640,
        448
      ],
      "id": "6960d500-c139-47f9-8052-9836b8ffbca7",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "YlVhiOWkge9JZ2m7",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a83034a-39be-469a-b81c-86fb8ad99f13",
              "name": "brief_s3_url",
              "value": "=https://dp-pipeline-briefs-801945369051-ap-southeast-1-an.s3.ap-southeast-1.amazonaws.com/briefs/{{ $('Loop Over Items').first().json.company.replace(/ /g, '+') }}-{{ $now.format('yyyy-MM-dd') }}.html",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        448
      ],
      "id": "825bcf9a-7771-4dd0-99e3-b590d444c6fd",
      "name": "Edit Fields1",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3184,
        624
      ],
      "id": "5750d9a8-638d-4ad3-9ef0-8f730c9dfd28",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "dJxyXpOYQSqrDm62",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Account data:\nCompany: {{ $('Loop Over Items').first().json.company }}\nTrigger: {{ $('Loop Over Items').first().json.triggerEvent.description }}\nCoverage: {{ $('Loop Over Items').first().json.coverageLabel }}\nEngaged Members: {{ $('Loop Over Items').first().json.engagedRoles }}\nSignals: {{ $('Loop Over Items').first().json.allWeightedSignals }}\n\nEngine decision (use as the move, do not re-decide):\nStage: {{ $('Loop Over Items').first().json.when_stage }}\nUrgency: {{ $('Loop Over Items').first().json.when_urgency }}\nRecommended move: {{ $('Loop Over Items').first().json.when_the_move }}\nOpen with: {{ $('Loop Over Items').first().json.when_open_with }}",
        "options": {
          "systemMessage": "You are a B2B sales brief writer. The WHEN engine has ALREADY decided the move; your job is to write the brief that delivers it — do not re-decide. Under 150 words. Six elements exactly:\n\n1. Trigger Event — what happened and when\n2. Account Context — company, industry, competitive situation\n3. Opening Hypothesis — why this account, why now\n4. Stage-Designated Action — the engine's recommended move\n5. Buying Group Indicator — who is engaged, coverage label\n6. Signal Return — what to watch for next"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3184,
        448
      ],
      "id": "d57218fd-15cd-49a1-bfa5-fc2bbcd119b9",
      "name": "B2B Sales Brief Writer",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a009ef7b-30bf-4522-9503-2bf5a5acbddb",
              "name": "htmlBrief",
              "type": "string",
              "value": "=<html> <body style=\"font-family:Arial;max-width:600px;margin:40px auto;color:#1a1a1a\">\n  <h2 style=\"color:#2563eb\">Sales Brief &#8212; {{ $('Loop Over Items').first().json.company }}</h2>\n  <p style=\"color:#888;font-size:13px\">Generated: {{ $now }}</p>\n  <div style=\"display:flex;gap:16px;margin:12px 0\">\n    <span style=\"background:#2563eb;color:white;padding:4px 12px;border-radius:20px;font-size:13px;font-weight:bold\">Stage {{ $('Loop Over Items').first().json.when_stage }}</span>\n    <span style=\"background:#16a34a;color:white;padding:4px 12px;border-radius:20px;font-size:13px;font-weight:bold\">{{ $('Loop Over Items').first().json.coverageLabel }}</span>\n  </div>\n  {{ $('Loop Over Items').first().json.posture_detail ? '<p style=\"color:#6b7280;font-size:13px;font-style:italic;margin:4px 0 0\">' + $('Loop Over Items').first().json.posture_detail + '</p>' : '' }}\n  <hr style=\"border:1px solid #e5e5e5\">\n  {{ $('Loop Over Items').first().json.enrichmentNeeded ? '<div style=\"background:#fffbeb;border:1px solid #fde68a;border-radius:8px;padding:10px 12px;margin:0 0 14px;font-size:13px;color:#92400e\"><b>&#9888; Buying group needs enrichment.</b> Unconfirmed: ' + ($('Loop Over Items').first().json.unenrichedRoles || 'contacts') + '. Coverage stays limited until these are confirmed.</div>' : '' }}\n  <p style=\"line-height:1.8;font-size:15px\">{{ $json.output.replace(/[—–]/g, ' - ').replace(/(\\d+\\.)/g, '<br><br>$1') }}</p>\n  {{ $('Loop Over Items').first().json.when_the_catch ? '<div style=\"background:#fff7ed;border:1px solid #fed7aa;border-radius:8px;padding:12px 14px;margin:16px 0\"><div style=\"font-weight:bold;color:#b45309;font-size:13px;margin-bottom:4px\">&#9888; The Catch</div><div style=\"font-size:14px;line-height:1.6\">' + $('Loop Over Items').first().json.when_the_catch + '</div></div>' : '' }}\n  {{ $('Loop Over Items').first().json.when_whats_at_stake ? '<div style=\"margin:16px 0\"><div style=\"font-weight:bold;color:#1f2937;font-size:13px;margin-bottom:6px\">What&#39;s at stake</div><ul style=\"font-size:14px;line-height:1.7;margin:0;padding-left:20px\">' + String($('Loop Over Items').first().json.when_whats_at_stake).split(' | ').map(function(s){ return '<li>' + s + '</li>'; }).join('') + '</ul></div>' : '' }}\n  {{ ($('Loop Over Items').first().json.signal_sources || []).length ? '<div style=\"margin:16px 0 0\"><div style=\"font-weight:bold;color:#1f2937;font-size:13px;margin-bottom:6px\">Sources</div><ul style=\"font-size:13px;line-height:1.6;margin:0;padding-left:20px\">' + ($('Loop Over Items').first().json.signal_sources).map(function(s){ return '<li><a href=\"' + s.url + '\" style=\"color:#2563eb\">' + s.label + '</a></li>'; }).join('') + '</ul></div>' : '' }}\n</body> </html>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2848,
        448
      ],
      "id": "35cd96ee-645c-4753-a733-5243eb5e0c0f",
      "name": "HTML Builder"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delivery-layer",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4688,
        464
      ],
      "id": "8e77adf6-f01d-48e6-8593-468a28156927",
      "name": "Webhook",
      "webhookId": "51ccc21c-8b9e-4e90-94fc-dabaf1ae0079"
    },
    {
      "parameters": {
        "errorMessage": "Pipeline rejected: missing company field"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3952,
        768
      ],
      "id": "29b01a63-dcad-45f7-88c4-777aa2257357",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76a23f01-f6aa-46eb-984f-5da1914d84a9",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4080,
        464
      ],
      "id": "f1c24cc4-28fd-4031-8368-731f4fb8fd82",
      "name": "Validate Company"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9c0b258-8bbf-459a-9099-943418ac9b60",
              "leftValue": "={{ $json.buyingGroup }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3840,
        464
      ],
      "id": "8ce0b929-07f8-4dcf-be8f-5ed9b00139da",
      "name": "Validate BuyingGroup"
    },
    {
      "parameters": {
        "errorMessage": "Pipeline rejected: missing buyingGroup"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3712,
        768
      ],
      "id": "a7eb65b4-5762-4013-88d7-b4f092332e11",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a26ce4a8-6543-41b9-a994-4241c57520a1",
              "name": "node_name",
              "value": "B2B Sales Brief Writer",
              "type": "string"
            },
            {
              "id": "ba9aeb0e-a9d0-4e61-93a0-668a98817a1b",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "05c128a7-0921-4e8c-b352-1abd22008e27",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "ed147fef-44a0-46fd-bf99-6391b2be5436",
              "name": "input_data",
              "value": "={{ $('Loop Over Items').first().json.company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2864,
        848
      ],
      "id": "154a1380-ebe0-43e2-9270-6783d0848d6f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pipeline_errors",
          "mode": "list",
          "cachedResultName": "pipeline_errors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resolved": false,
            "company": "={{ $json.input_data }}",
            "node_name": "={{ $json.node_name }}",
            "error_msg": "={{ $json.error_message }}",
            "occurred_at": "={{ $json.timestamp }}",
            "phase": "brief_generation"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "occurred_at",
              "displayName": "occurred_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phase",
              "displayName": "phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "node_name",
              "displayName": "node_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2656,
        848
      ],
      "id": "18a745f9-58f9-4237-aa2c-41451013ed63",
      "name": "Insert rows in a table6",
      "credentials": {
        "postgres": {
          "id": "eR1uo2QGR2ZzwysA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "honlamchia@gmail.com",
        "subject": "=⚠️ Pipeline Failure: {{ $json.phase }} stage — {{ $json.company }}",
        "message": "=Pipeline Failure Alert ──────────────────────────────  Company:     {{ $json.company }}  Failed Stage: {{ $json.phase }} Failed Node:  {{ $json.node_name }} Timestamp:  {{ $json.occurred_at }}  Error Message: {{ $json.error_msg }} ────────────────────────────── Action Required: Please check the n8n execution log and pipeline_errors  table for full details.  Execution ID: {{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2448,
        848
      ],
      "id": "87d55878-8d91-4652-ada2-7d9937465eca",
      "name": "Send a message4",
      "webhookId": "4d598d79-f13c-46a0-80b6-fea4b6e25337",
      "credentials": {
        "gmailOAuth2": {
          "id": "vKMX1dZQWsi80BVz",
          "name": "Gmail OAuth2 API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "honlamchia@gmail.com",
        "subject": "=👀 Approval Needed — {{ $json.company }}",
        "message": "=Sales Brief Ready for Review — {{ $json.company }}\n\nScore: {{ $json.gate1_score }}/{{ $json.gate1_threshold }} | Confidence: {{ $json.gate1_confidence }}\n\nBrief: {{ $json.brief_s3_url }}\n\n──────────────────────────────\n✅ APPROVE:\n{{ $json.approveUrl }}\n\n❌ REJECT:\n{{ $json.rejectUrl }}\n──────────────────────────────",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1776,
        448
      ],
      "id": "88b5d5a2-f1df-41bd-8dfc-6466d038cf74",
      "name": "Approval Email",
      "webhookId": "ef0a2ce6-84ad-4fde-8c73-530586807c9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "vKMX1dZQWsi80BVz",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1111111-1111-1111-1111-111111111111",
              "name": "approveUrl",
              "value": "=https://designprodigy.app.n8n.cloud/webhook/brief-approval?id={{ $json.id }}&action=approve",
              "type": "string"
            },
            {
              "id": "b2222222-2222-2222-2222-222222222222",
              "name": "rejectUrl",
              "value": "=https://designprodigy.app.n8n.cloud/webhook/brief-approval?id={{ $json.id }}&action=reject",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        448
      ],
      "id": "17c0c004-ba01-453e-875f-0d31bf30fde3",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Format Adapter\n// Handles three schemas:\n//   - Jocelyn (WHEN Layer): has meta.engine === \"WHEN Layer Intelligence Engine\"\n//   - Tabita (CaP context): has account_id + context_status\n//   - Pipeline native: has company + buyingGroup directly\n\nreturn $input.all().map(item => {\n  const data = item.json;\n\n  if (data.meta && data.meta.engine === \"WHEN Layer Intelligence Engine\") {\n    const accountSignals = data.signals || [];\n    const firstSignal = accountSignals[0] || {};\n\n    const buyingGroup = (data.buying_group || []).map(member => {\n      const status = (member.status || \"\").toString().toUpperCase();\n      const isConfirmed = status === \"COMPLETE\" || status === \"CONFIRMED\";\n      return {\n        contactName: member.name,\n        jobTitle: member.title,\n        signals: isConfirmed ? accountSignals.map(s => ({ type: s.type, date: s.date })) : [],\n        negativeSignals: []\n      };\n    });\n\n    const unenriched = (data.buying_group || []).filter(m => {\n      const s = (m.status || \"\").toString().toUpperCase();\n      return s !== \"COMPLETE\" && s !== \"CONFIRMED\";\n    });\n    const enrichmentNeeded = unenriched.length > 0;\n    const unenrichedRoles = unenriched.map(m => m.name + (m.focus_area ? \" (\" + m.focus_area + \")\" : \"\")).join(\", \");\n\n    return {\n      json: {\n        company: data.account.name,\n        companySize: null,\n        triggerEvent: {\n          eventType: firstSignal.type || \"Structural Trigger\",\n          description: firstSignal.description || data.posture?.headline || \"\",\n          category: data.account.theme,\n          isActionable: data.posture?.urgency !== \"MONITOR\"\n        },\n        buyingGroup,\n        when_open_with:    data.outreach?.open_with || null,\n        when_action:       data.outreach?.action || null,\n        when_stage:        data.posture?.gate_3 || data.posture?.stage || null,\n        when_urgency:      data.posture?.urgency || null,\n        when_window_close: data.change_triggers?.window_close_date || null,\n        when_whats_at_stake: (data.whats_at_stake || []).map(w => w.role + \": \" + w.statement).join(\" | \") || null,\n        when_the_move:       data.element_4?.the_move || null,\n        when_the_catch:      data.element_4?.the_catch || null,\n        when_your_edge:      data.element_4?.your_edge || null,\n        when_first_step:     data.element_4?.first_step || null,\n        when_campaign_stage: data.outreach?.campaign_stage || null,\n        when_belief_shift:   data.outreach?.belief_shift_objective || null,\n        posture_detail:    data.posture?.detail || null,\n        supporting_signals: data.element_4?.supporting_signals || [],\n        signal_sources:    (data.signals || []).filter(s => s.source_url).map(s => ({ label: s.source_label || s.type || \"source\", url: s.source_url })),\n        industry:          data.account?.industry || null,\n        theme:             data.account?.theme || null,\n        trigger_notes:     data.change_triggers?.notes || null,\n        enrichmentNeeded:  enrichmentNeeded,\n        unenrichedRoles:   unenrichedRoles,\n        _source: \"jocelyn\",\n        _raw: data\n      }\n    };\n  }\n\n  if (data.account_id && data.context_status) {\n    const identity     = data.background?.identity || {};\n    const facts        = data.background?.structural_facts || [];\n    const hypothesis   = data.background?.operational_hypothesis || {};\n    const primaryFact  = facts.find(f => f.type === \"A\") || facts[0] || {};\n    const highTensions = (data.tensions || []).filter(t => t.level === \"HIGH\");\n    const type1Gaps    = data.gaps?.type_1 || [];\n\n    let buyingGroup = (data.stakeholder_map?.buying_committee || []).map(member => ({\n      contactName: member.name || member.contactName,\n      jobTitle:    member.title || member.jobTitle,\n      signals:     [],\n      negativeSignals: highTensions.map(t => ({ type: \"high_tension\", date: new Date().toISOString().split(\"T\")[0], description: t.conflict }))\n    }));\n\n    if (buyingGroup.length === 0) {\n      buyingGroup = [{ contactName: \"Unknown - see Type I gaps\", jobTitle: type1Gaps.map(g => g.gap).join(\" | \") || \"TBD\", signals: [], negativeSignals: highTensions.map(t => ({ type: \"high_tension\", date: new Date().toISOString().split(\"T\")[0], description: t.conflict })) }];\n    }\n\n    return {\n      json: {\n        company:     identity.company || data.account_id,\n        companySize: null,\n        triggerEvent: { eventType: primaryFact.event || \"Structural Event\", description: hypothesis.statement || primaryFact.event || \"\", category: identity.industry || \"Unknown\", isActionable: type1Gaps.length === 0 },\n        buyingGroup,\n        cap_confidence_floor:    data.confidence_floor,\n        cap_primary_archetype:   data.pattern?.primary_archetype || null,\n        cap_secondary_archetype: data.pattern?.secondary_archetype || null,\n        cap_context_status:      data.context_status,\n        cap_type1_gap_count:     type1Gaps.length,\n        cap_high_tension_count:  highTensions.length,\n        _source: \"tabita\",\n        _raw: data\n      }\n    };\n  }\n\n  return { json: { ...data, _source: \"direct\", _raw: data } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4384,
        464
      ],
      "id": "eba02f5f-c178-4cee-a888-c4cf384887fa",
      "name": "Format Adapter"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "06daceaf-cf0a-41f5-babe-28fffea7dd4d",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3408,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept payload whether it arrives via webhook (nested under .body) or manual/direct (flat).\nreturn $input.all().map(i => ({ json: (i.json && i.json.body && typeof i.json.body === 'object') ? i.json.body : i.json }));"
      },
      "id": "fabbf309-508b-4906-af3d-fd1d2e4798b8",
      "name": "Unwrap Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4544,
        464
      ]
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "company": "Daiichi Sankyo",
          "companySize": 17000,
          "triggerEvent": {
            "eventType": "Five-Year AI Business Plan",
            "description": "Unveiled Five-Year Business Plan FY2026-2030 committing to AI-accelerated drug-discovery pipeline across multi-specific antibodies, targeted protein degradation, and siRNA. Regulated compute and data-governance model not yet decided as new plan and AI partnerships ramp up.",
            "category": "Regulated Drug-Discovery Compute",
            "isActionable": true
          },
          "buyingGroup": [
            {
              "contactName": "Hiroyuki Okuzawa",
              "jobTitle": "Representative Director and CEO",
              "signals": [
                {
                  "type": "five_year_ai_plan_announced",
                  "date": "2026-05-01"
                }
              ],
              "negativeSignals": []
            },
            {
              "contactName": "Head, R&D Digital and Data Science",
              "jobTitle": "Drug-Discovery Compute Lead",
              "signals": [],
              "negativeSignals": []
            },
            {
              "contactName": "Head, Regulatory and Data Governance",
              "jobTitle": "Compliance Lead",
              "signals": [],
              "negativeSignals": []
            }
          ]
        }
      },
      {
        "json": {
          "company": "Denso",
          "companySize": 170000,
          "triggerEvent": {
            "eventType": "Semiconductor Business Group Formation",
            "description": "Established new Semiconductor Business Group on 28 November 2025, consolidating semiconductors and software as a strategic business beyond automotive. Compute strategy for the software-defined vehicle era is still forming in the group's first months.",
            "category": "Semiconductors and Edge AI",
            "isActionable": true
          },
          "buyingGroup": [
            {
              "contactName": "Shinnosuke Hayashi",
              "jobTitle": "President and CEO",
              "signals": [
                {
                  "type": "semiconductor_business_group_launch",
                  "date": "2025-11-28"
                }
              ],
              "negativeSignals": []
            },
            {
              "contactName": "Head, Semiconductor Business Group",
              "jobTitle": "Edge AI Lead",
              "signals": [],
              "negativeSignals": []
            },
            {
              "contactName": "Chief Technology Officer",
              "jobTitle": "GPUaaS Lead",
              "signals": [],
              "negativeSignals": []
            }
          ]
        }
      },
      {
        "json": {
          "company": "Fusic",
          "companySize": 200,
          "triggerEvent": {
            "eventType": "ASEAN Market Entry",
            "description": "Expanded into Singapore and ASEAN in December 2025 — first time operating outside Japan. Requires B2B sales infrastructure, regional technical operations, and cloud strategy in a new regulatory environment.",
            "category": "New Market Entry",
            "isActionable": true
          },
          "buyingGroup": [
            {
              "contactName": "Sadayoshi Noutomi",
              "jobTitle": "CEO",
              "signals": [
                {
                  "type": "asean_market_entry_confirmed",
                  "date": "2025-12-01"
                }
              ],
              "negativeSignals": []
            },
            {
              "contactName": "Head, Singapore Operations",
              "jobTitle": "ASEAN Operations Lead",
              "signals": [],
              "negativeSignals": []
            },
            {
              "contactName": "Technical Lead R&D",
              "jobTitle": "R&D Technology Lead",
              "signals": [],
              "negativeSignals": []
            }
          ]
        }
      },
      {
        "json": {
          "company": "Komatsu",
          "companySize": 64000,
          "triggerEvent": {
            "eventType": "Autonomy Platform Partnership",
            "description": "Announced transformational collaboration with Applied Intuition to standardise next-generation autonomy on a unified vehicle platform. Crossed 1,000 commissioned autonomous haul trucks in January 2026. Decision on where inference and training workloads reside across the scaling fleet remains open.",
            "category": "Autonomous and Physical AI",
            "isActionable": true
          },
          "buyingGroup": [
            {
              "contactName": "Hiroyuki Ogawa",
              "jobTitle": "President and CEO",
              "signals": [
                {
                  "type": "autonomy_platform_partnership_announced",
                  "date": "2025-09-01"
                }
              ],
              "negativeSignals": []
            },
            {
              "contactName": "Head, Autonomy Platform",
              "jobTitle": "GPUaaS and Edge Lead",
              "signals": [],
              "negativeSignals": []
            },
            {
              "contactName": "Head, ASEAN Operations",
              "jobTitle": "Manufacturing Lead",
              "signals": [],
              "negativeSignals": []
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Format Adapter": {
      "main": [
        [
          {
            "node": "Validate Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Company": {
      "main": [
        [
          {
            "node": "Validate BuyingGroup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate BuyingGroup": {
      "main": [
        [
          {
            "node": "Parse Input Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "B2B Sales Brief Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "B2B Sales Brief Writer": {
      "main": [
        [
          {
            "node": "HTML Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Builder": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Insert rows in a table6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table6": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "B2B Sales Brief Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Unwrap Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Unwrap Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap Body": {
      "main": [
        [
          {
            "node": "Format Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "9b7cf27f-6351-4b74-82a7-e50e883f525e",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "c6e7586b49d43eca714f71144f9f77630192013f599f492ed1613f9a7365db55"
  },
  "nodeGroups": [],
  "id": "HQdvWtRfLdzDTN3X",
  "tags": []
}